:root {

  --bg-main: #F2F5FA;


  font-family: "Rubic", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F5FA;
  color: #415273;
}

.placeholder-content {
  border-radius: 15px;
  background: #F2F5FA;
  box-shadow:  15px 15px 20px #dfe1e6,
  -15px -15px 20px #ffffff;
}

.grid-stack-item-content {
  padding: 1em;

  border-radius: 15px;
  background: #F2F5FA;
  box-shadow:  15px 15px 20px #dfe1e6,
  -15px -15px 20px #ffffff;
}
